
.SSG-button {
    font-family: Calibri;
    float: left;
    right: 0px;
    width: 100px;
    margin-top:5px;

}
.SSG-label {
    font-family: Calibri;
    color: navy;
    font-weight: bold;
}
.SSG-webform {
    font-family: Calibri;
    
}
.SSG-textbox {
    width:290px;
}
.SSG-listbox {
    font-family: Calibri;
    margin: auto;
    width: 300px;
}
.SSG-listboxtall {
    height: 200px;
}
.SSG-titlebar {
    font-family: Calibri;
    color: white;
    background-color: navy;
    margin-right: 10px;
}
.SSG-header {
    font-family: Calibri;
    text-align: center;
    margin:auto;
}

.SSG-footermain {
    font-family: Calibri;
    text-align: center;
    background-color: lightsteelblue;
    color:black;
    margin-right:10px;
}
.SSG-footersub {
    font-family: Calibri;
    text-align: center;
    background-color: lightsteelblue;
    color: black;
}

.SSG-body {
    background-color: #e6f2ff;
}

.SSG-row {
    display: flex;
}

.SSG-column {
    flex: 50%;
}

.SSG-titlecolumn1 {
    flex: 67%;
}
.SSG-titlecolumn2 {
    flex: 33%;
}

